<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rule to proxy API requests to Node.js on port 3000 -->
        <rule name="Proxy API to Node.js" stopProcessing="true">
          <match url="^api/(.*)$" />
          <action type="Rewrite" url="https://localhost:3000/{R:0}" />
        </rule>
        <!-- Route requests to the React application -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
